<div class="container my-3">
<h2 style=color:white;><%= @cocktail.name %></h2>

<% @cocktail.photos.each do |photo| %>
	<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<div class="contained">
	<h2 style=color:white;><%= @cocktail.recipe %></h2>
</div>

<% @cocktail.doses.each do |dose| %>

<h3 style=color:white;>dose ingredient: <%= dose.ingredient.name %></h3>
<h3 style=color:white;>dose description: <%= dose.description %></h3>
<%= link_to "Delete dose", dose_path(dose), method: :delete %>

<% end %>

</div>
<div class="container">
<%= link_to "Go back", cocktails_path %>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
</div>